<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RPMScreenButtonsKey</key>
	<dict>
		<key>AspectRatio</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>aspectRatio</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>AudioChannels</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>audioChannels</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>AudioCodec</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>audioCodec</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>Fast Forward</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Fast Forward</string>
			<key>ReleaseCommand</key>
			<string>ScanUp</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>MediaServer Info</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>MediaServer Info</string>
			<key>ReleaseCommand</key>
			<string>Info</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>MediaServer Subtitle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>HoldCommand</key>
			<string>Red</string>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>MediaServer Subtitle</string>
			<key>ReleaseCommand</key>
			<string>Subtitle</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>NowPlaying</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>NowPlaying</string>
			<key>ReleaseCommand</key>
			<string>NumberPlusTen</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Page Down</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Page Down</string>
			<key>ReleaseCommand</key>
			<string>PageDown</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Page Up</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Page Up</string>
			<key>ReleaseCommand</key>
			<string>PageUp</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>PlayPauseTog</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Label</key>
			<string>Pause</string>
			<key>ReleaseCommand</key>
			<string>Pause</string>
			<key>ToggleLabel</key>
			<string>Play</string>
			<key>ToggleOnStateName</key>
			<string>isPlay</string>
			<key>ToggleOnStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ToggleOnStateType</key>
			<string>Resource</string>
			<key>ToggleReleaseCommand</key>
			<string>Play</string>
			<key>ToggleSpeech</key>
			<string>Play</string>
			<key>Type</key>
			<string>Toggle</string>
		</dict>
		<key>Plex Home</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Home</string>
			<key>ReleaseCommand</key>
			<string>Home</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat All</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat All</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatAll</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat Off</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat Off</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatOff</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat One</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat One</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatOne</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex ShowOSD</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex ShowOSD</string>
			<key>ReleaseCommand</key>
			<string>Setup</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Shuffle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Shuffle</string>
			<key>ReleaseCommand</key>
			<string>Random</string>
			<key>ToggleLabel</key>
			<string>Shuffle Off</string>
			<key>ToggleOnStateName</key>
			<string>isShuffled</string>
			<key>ToggleOnStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ToggleOnStateType</key>
			<string>Resource</string>
			<key>ToggleReleaseCommand</key>
			<string>Random</string>
			<key>Type</key>
			<string>Toggle</string>
		</dict>
		<key>Plex Stop</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Stop</string>
			<key>ReleaseCommand</key>
			<string>Stop</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Zoom</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>HoldCommand</key>
			<string>Blue</string>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Zoom</string>
			<key>ReleaseCommand</key>
			<string>Zoom</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>PlexAudio</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>PlexAudio</string>
			<key>ReleaseCommand</key>
			<string>Audio</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Progress</key>
		<dict>
			<key>Command</key>
			<string>Yellow</string>
			<key>Delta</key>
			<integer>1</integer>
			<key>Enabled</key>
			<true/>
			<key>MaxValue</key>
			<integer>100</integer>
			<key>MinValue</key>
			<integer>0</integer>
			<key>Orientation</key>
			<string>Horizontal</string>
			<key>RPMGraphicTypeKey</key>
			<string>Selector</string>
			<key>SliderArgName</key>
			<string>SeekValue</string>
			<key>Type</key>
			<string>Selector</string>
			<key>ValueSourceStateName</key>
			<string>progressPercentage</string>
			<key>ValueSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ValueSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>Remote Channel Down</key>
		<dict>
			<key>Command</key>
			<string>ChannelAnalogDown</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Channel Down</string>
			<key>HoldCommand</key>
			<string>ChannelAnalogDown</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Channel Up</key>
		<dict>
			<key>Command</key>
			<string>ChannelAnalogUp</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Channel Up</string>
			<key>HoldCommand</key>
			<string>ChannelAnalogUp</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote DVR</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote DVR</string>
			<key>ReleaseCommand</key>
			<string>MyDVR</string>
		</dict>
		<key>Remote Decimal</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Decimal</string>
			<key>HoldCommand</key>
			<string>StarHold</string>
			<key>ReleaseCommand</key>
			<string>StarRelease</string>
		</dict>
		<key>Remote Enter</key>
		<dict>
			<key>Command</key>
			<string>Enter</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Enter</string>
		</dict>
		<key>Remote Exit</key>
		<dict>
			<key>Command</key>
			<string>Exit</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Exit</string>
			<key>HoldCommand</key>
			<string>ToggleWidgets</string>
		</dict>
		<key>Remote Guide</key>
		<dict>
			<key>Command</key>
			<string>Setup</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Guide</string>
		</dict>
		<key>Remote Info</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Info</string>
			<key>ReleaseCommand</key>
			<string>Info</string>
		</dict>
		<key>Remote Last</key>
		<dict>
			<key>Command</key>
			<string>LastChannel</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Last</string>
		</dict>
		<key>Remote Menu</key>
		<dict>
			<key>Command</key>
			<string>Menu</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Menu</string>
		</dict>
		<key>Remote Mute</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Mute</string>
		</dict>
		<key>Remote Navigate Down</key>
		<dict>
			<key>Command</key>
			<string>OSDCursorDown</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Navigate Down</string>
			<key>HoldCommand</key>
			<string>OSDCursorDown</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Navigate Left</key>
		<dict>
			<key>Command</key>
			<string>OSDCursorLeft</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Navigate Left</string>
			<key>HoldCommand</key>
			<string>OSDCursorLeft</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Navigate Right</key>
		<dict>
			<key>Command</key>
			<string>OSDCursorRight</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Navigate Right</string>
			<key>HoldCommand</key>
			<string>OSDCursorRight</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Navigate Up</key>
		<dict>
			<key>Command</key>
			<string>OSDCursorUp</string>
			<key>CommandSendInterval</key>
			<real>0.34999999999999998</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Navigate Up</string>
			<key>HoldCommand</key>
			<string>OSDCursorUp</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Number_0</key>
		<dict>
			<key>Command</key>
			<string>NumberZero</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_0</string>
		</dict>
		<key>Remote Number_1</key>
		<dict>
			<key>Command</key>
			<string>NumberOne</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_1</string>
		</dict>
		<key>Remote Number_2</key>
		<dict>
			<key>Command</key>
			<string>NumberTwo</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_2</string>
		</dict>
		<key>Remote Number_3</key>
		<dict>
			<key>Command</key>
			<string>NumberThree</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_3</string>
		</dict>
		<key>Remote Number_4</key>
		<dict>
			<key>Command</key>
			<string>NumberFour</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_4</string>
		</dict>
		<key>Remote Number_5</key>
		<dict>
			<key>Command</key>
			<string>NumberFive</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_5</string>
		</dict>
		<key>Remote Number_6</key>
		<dict>
			<key>Command</key>
			<string>NumberSix</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_6</string>
		</dict>
		<key>Remote Number_7</key>
		<dict>
			<key>Command</key>
			<string>NumberSeven</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_7</string>
		</dict>
		<key>Remote Number_8</key>
		<dict>
			<key>Command</key>
			<string>NumberEight</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_8</string>
		</dict>
		<key>Remote Number_9</key>
		<dict>
			<key>Command</key>
			<string>NumberNine</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Number_9</string>
		</dict>
		<key>Remote Page Down</key>
		<dict>
			<key>Command</key>
			<string>PageDown</string>
			<key>CommandSendInterval</key>
			<real>1.5</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Page Down</string>
			<key>HoldCommand</key>
			<string>PageDown</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Page Up</key>
		<dict>
			<key>Command</key>
			<string>PageUp</string>
			<key>CommandSendInterval</key>
			<real>1.5</real>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Page Up</string>
			<key>HoldCommand</key>
			<string>PageUp</string>
			<key>HoldTime</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>Remote Rosie Menu</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Rosie Menu</string>
			<key>HoldCommand</key>
			<string>PowerOff</string>
		</dict>
		<key>Remote Select</key>
		<dict>
			<key>Command</key>
			<string>OSDSelect</string>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Select</string>
		</dict>
		<key>Remote Volume Down</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Volume Down</string>
		</dict>
		<key>Remote Volume Up</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Volume Up</string>
		</dict>
		<key>Rewind</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Rewind</string>
			<key>ReleaseCommand</key>
			<string>ScanDown</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>StatusToggle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>StatusToggle</string>
			<key>ReleaseCommand</key>
			<string>Green</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Step Backwards</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Step Backwards</string>
			<key>ReleaseCommand</key>
			<string>StepDown</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Step Forwards</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Step Forwards</string>
			<key>ReleaseCommand</key>
			<string>StepUp</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>ThumbnailView</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>thumbnail</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoCodec</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoCodec</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoFrameRate</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoFrameRate</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoResolution</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoResolution</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
	</dict>
	<key>RPMScreenGraphicsKey</key>
	<dict>
		<key>Remote Background</key>
		<dict>
			<key>ElementSourceIdentifier</key>
			<string>Screens/iPodRemote/Remote Background</string>
		</dict>
	</dict>
	<key>RPMScreenTextBoxesKey</key>
	<dict>
		<key>ProgressTimeHours</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeHours</string>
			<key>TextJustification</key>
			<integer>1</integer>
			<key>TextSourceStateName</key>
			<string>progressHours</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>ProgressTimeMinutes</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeMinutes</string>
			<key>TextSourceStateName</key>
			<string>progressMinutes</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>ProgressTimeSeconds</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeSeconds</string>
			<key>TextSourceStateName</key>
			<string>progressSeconds</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TV Episode Name</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TV Episode Name</string>
			<key>TextSourceStateName</key>
			<string>currentEpisodeName</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVEpisode Number</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVEpisode Number</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isTVShow</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>TextSourceStateName</key>
			<string>currentEpisodeNumber</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVSeason Number</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVSeason Number</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isTVShow</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>TextSourceStateName</key>
			<string>currentSeasonNumber</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVShow Name</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVShow Name</string>
			<key>TextSourceStateName</key>
			<string>currentSeasonName</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeHours</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeHours</string>
			<key>TextJustification</key>
			<integer>1</integer>
			<key>TextSourceStateName</key>
			<string>totalHours</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeMinutes</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeMinutes</string>
			<key>TextSourceStateName</key>
			<string>totalMinutes</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeSeconds</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeSeconds</string>
			<key>TextSourceStateName</key>
			<string>totalSeconds</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
	</dict>
</dict>
</plist>
