<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RPMScreenButtonsKey</key>
	<dict>
		<key>AspectRatio</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>aspectRatio</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Audio</string>
			<key>ReleaseCommand</key>
			<string>Audio</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>AudioChannels</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>audioChannels</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>AudioCodec</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>audioCodec</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>MediaServer Info</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>MediaServer Info</string>
			<key>ReleaseCommand</key>
			<string>Info</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>MediaServer Subtitle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>HoldCommand</key>
			<string>Red</string>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>MediaServer Subtitle</string>
			<key>ReleaseCommand</key>
			<string>Subtitle</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>NowPlaying</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>NowPlaying</string>
			<key>ReleaseCommand</key>
			<string>NumberPlusTen</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Page Down</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Page Down</string>
			<key>ReleaseCommand</key>
			<string>PageDown</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Page Up</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Page Up</string>
			<key>ReleaseCommand</key>
			<string>PageUp</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>PlayPauseTog</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Label</key>
			<string>Pause</string>
			<key>ReleaseCommand</key>
			<string>Pause</string>
			<key>ToggleLabel</key>
			<string>Play</string>
			<key>ToggleOnStateName</key>
			<string>isPlay</string>
			<key>ToggleOnStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ToggleOnStateType</key>
			<string>Resource</string>
			<key>ToggleReleaseCommand</key>
			<string>Play</string>
			<key>ToggleSpeech</key>
			<string>Play</string>
			<key>Type</key>
			<string>Toggle</string>
		</dict>
		<key>Plex Exit</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Exit</string>
			<key>ReleaseCommand</key>
			<string>Exit</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Home</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Home</string>
			<key>ReleaseCommand</key>
			<string>Home</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat All</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat All</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatAll</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat Off</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat Off</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatOff</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Repeat One</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Repeat One</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isRepeatOne</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ReleaseCommand</key>
			<string>Repeat</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex ShowOSD</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex ShowOSD</string>
			<key>ReleaseCommand</key>
			<string>Setup</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Plex Shuffle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Shuffle</string>
			<key>ReleaseCommand</key>
			<string>Random</string>
			<key>ToggleLabel</key>
			<string>Shuffle Off</string>
			<key>ToggleOnStateName</key>
			<string>isShuffled</string>
			<key>ToggleOnStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ToggleOnStateType</key>
			<string>Resource</string>
			<key>ToggleReleaseCommand</key>
			<string>Random</string>
			<key>Type</key>
			<string>Toggle</string>
		</dict>
		<key>Plex Zoom</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>HoldCommand</key>
			<string>Blue</string>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Plex Zoom</string>
			<key>ReleaseCommand</key>
			<string>Zoom</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Progress</key>
		<dict>
			<key>Command</key>
			<string>Yellow</string>
			<key>Delta</key>
			<integer>1</integer>
			<key>Enabled</key>
			<true/>
			<key>MaxValue</key>
			<integer>100</integer>
			<key>MinValue</key>
			<integer>0</integer>
			<key>Orientation</key>
			<string>Horizontal</string>
			<key>RPMGraphicTypeKey</key>
			<string>Selector</string>
			<key>SliderArgName</key>
			<string>SeekValue</string>
			<key>Type</key>
			<string>Selector</string>
			<key>ValueSourceStateName</key>
			<string>progressPercentage</string>
			<key>ValueSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>ValueSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>StatusToggle</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>StatusToggle</string>
			<key>ReleaseCommand</key>
			<string>Green</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Step Backwards</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Step Backwards</string>
			<key>ReleaseCommand</key>
			<string>StepDown</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>Step Forwards</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>InternalCommand</key>
			<false/>
			<key>RPMGraphicIdentifierKey</key>
			<string>Step Forwards</string>
			<key>ReleaseCommand</key>
			<string>StepUp</string>
			<key>Type</key>
			<string>Push</string>
		</dict>
		<key>ThumbnailView</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>thumbnail</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoCodec</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoCodec</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoFrameRate</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoFrameRate</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
		<key>VideoResolution</key>
		<dict>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>URL</key>
					<dict>
						<key>StateName</key>
						<string>videoResolution</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
					</dict>
				</dict>
				<key>SubViewType</key>
				<string>CameraView</string>
			</dict>
			<key>SubViewType</key>
			<string>CameraView</string>
		</dict>
	</dict>
	<key>RPMScreenTextBoxesKey</key>
	<dict>
		<key>ProgressTimeHours</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeHours</string>
			<key>TextJustification</key>
			<integer>1</integer>
			<key>TextSourceStateName</key>
			<string>progressHours</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>ProgressTimeMinutes</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeMinutes</string>
			<key>TextSourceStateName</key>
			<string>progressMinutes</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>ProgressTimeSeconds</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>ProgressTimeSeconds</string>
			<key>TextSourceStateName</key>
			<string>progressSeconds</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TV Episode Name</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TV Episode Name</string>
			<key>TextSourceStateName</key>
			<string>currentEpisodeName</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVEpisode Number</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVEpisode Number</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isTVShow</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>TextSourceStateName</key>
			<string>currentEpisodeNumber</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVSeason Number</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVSeason Number</string>
			<key>RPMOverrideKey</key>
			<dict>
				<key>StateBindings</key>
				<dict>
					<key>Hidden</key>
					<dict>
						<key>MatchValues</key>
						<array>
							<string>1</string>
						</array>
						<key>StateName</key>
						<string>isTVShow</string>
						<key>StateResource</key>
						<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
						<key>StateType</key>
						<string>Resource</string>
						<key>ValueTransformer</key>
						<array>
							<string>MatchValues</string>
							<string>Invert</string>
						</array>
					</dict>
				</dict>
			</dict>
			<key>TextSourceStateName</key>
			<string>currentSeasonNumber</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TVShow Name</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TVShow Name</string>
			<key>TextSourceStateName</key>
			<string>currentSeasonName</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeHours</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeHours</string>
			<key>TextJustification</key>
			<integer>1</integer>
			<key>TextSourceStateName</key>
			<string>totalHours</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeMinutes</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeMinutes</string>
			<key>TextSourceStateName</key>
			<string>totalMinutes</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
		<key>TotalTimeSeconds</key>
		<dict>
			<key>RPMGraphicIdentifierKey</key>
			<string>TotalTimeSeconds</string>
			<key>TextSourceStateName</key>
			<string>totalSeconds</string>
			<key>TextSourceStateResource</key>
			<string>AV_EXTERNALMEDIASERVER_SOURCE</string>
			<key>TextSourceStateType</key>
			<string>Resource</string>
		</dict>
	</dict>
</dict>
</plist>
